@model MvcOnlineCommercialAutomation.Models.Entities.Invoice
@{
    ViewBag.Title = "AddInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Fatura Ekleme Sayfası</h2>
<br />
<form method="post">
    <label>Fatura Seri No</label>
    @Html.TextBoxFor(x => x.InvoiceSerialNo, new { @class = "form-control" })
    <br />
    <label>Fatura Sıra No</label>
    @Html.TextBoxFor(x => x.InvoiceSequenceNo, new { @class = "form-control" })
    <br />
    <label>Fatura Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Fatura Saat</label>
    @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    <br />
    <label>Vergi Dairesi</label>
    @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    <br />
    <label>Teslim Eden</label>
    @Html.TextBoxFor(x => x.Deliverer, new { @class = "form-control" })
    <br />
    <label>Teslim Alan</label>
    @Html.TextBoxFor(x => x.Deliverer, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Ekle</button>
</form>

