@using MvcOnlineCommercialAutomation.Models.Entities
@model List<SaleTransaction>
@{
    ViewBag.Title = "DepartmentEmployeeSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personel Satış Kaydı</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.v2</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.CurrentAccount.CurrentAccountName @item.CurrentAccount.CurrentAccountSurname</td>
            <td>@item.Price ₺</td>
            <td>@item.Quantity</td>
            <td>@item.Amount ₺</td>
            <td>@item.Date.ToShortDateString()</td>
            <td><a href="#" class="btn btn-outline-info">Yazdır</a></td>
        </tr>
    }
</table>